hgroup {
    color: red;
}

div {
    color: green;
}

span {
    color: yellow;
}

figure {
    border: solid black;
    display: block;
    max-width: 200px;
    margin: auto;
}

img {
    max-width: 200px;
    max-height: 200px;
}

figcaption {
    background-color: rgb(0, 0, 0);
    color: rgb(241, 241, 241);
    text-align: center;
}
img:hover{
    transform: scale(1.5);  
}



