#tab1{
    border-color: blue;
   border-width: 2mm;
    border-radius: 5%;
    border-style: double;
}
    #tab2{
   border-color:rgb(165, 4, 4);
   border-width: 3mm;
   position: center;
   border-style:dotted;
}
table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    animation-duration: 3s;
    animation-name: slidein;
    animation-timing-function: ease-out;
}  
@keyframes slidein{
    from{
        margin-left: 100%;
        width:300%
    }
       
       }
       to{
        margin-left: 0%;
        width:100%
       }
    



   
